#### Configuration

In [2]:
# ============================================================================
# CONFIGURATION - Modify these variables
# ============================================================================

# Lakehouse name (must be created in your workspace)
LAKEHOUSE_NAME = "Lakehouse_RawData"

# Excel file path in Lakehouse Files
# Upload your Excel file to: Lakehouse -> Files -> excel_files/
EXCEL_FILE_PATH = "/lakehouse/default/Files/Enterprise_Data_Model.xlsx"

# Schema name for tables
SCHEMA_NAME = "enterprise"

# Table prefix (optional, leave empty for no prefix)
TABLE_PREFIX = ""

# Overwrite existing tables
OVERWRITE_EXISTING = True

# Enable detailed logging
VERBOSE_MODE = True

StatementMeta(, dedf02ab-21d2-4384-ab96-67692606400a, 4, Finished, Available, Finished)

#### Setup and Imports

In [3]:
# Import required libraries
import pandas as pd
import openpyxl
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from datetime import datetime
import os

# Initialize Spark session
spark = SparkSession.builder.appName("ExcelToLakehouse").getOrCreate()

print("âœ“ Imports successful")
print(f"âœ“ Spark version: {spark.version}")
print(f"âœ“ Timestamp: {datetime.now()}")

StatementMeta(, dedf02ab-21d2-4384-ab96-67692606400a, 5, Finished, Available, Finished)

âœ“ Imports successful
âœ“ Spark version: 3.5.5.5.4.20251218.3
âœ“ Timestamp: 2026-02-11 12:23:38.425162

#### Helper Functions

In [4]:
def log(message, level="INFO"):
    """Custom logging function"""
    if VERBOSE_MODE or level == "ERROR":
        timestamp = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        print(f"[{timestamp}] {level}: {message}")

def clean_column_names(df):
    """Clean column names for Delta table compatibility"""
    for col in df.columns:
        # Replace spaces and special characters
        new_col = col.replace(" ", "_").replace("-", "_").replace("(", "").replace(")", "")
        new_col = new_col.replace("/", "_").replace(".", "_")
        if new_col != col:
            df = df.withColumnRenamed(col, new_col)
    return df

def get_table_name(sheet_name):
    """Generate table name from sheet name"""
    table_name = sheet_name.replace(" ", "_").replace("-", "_")
    if TABLE_PREFIX:
        return f"{TABLE_PREFIX}{table_name}"
    return table_name

def infer_spark_schema(df_pandas):
    """Convert pandas DataFrame to Spark DataFrame with proper schema"""
    return spark.createDataFrame(df_pandas)

print("âœ“ Helper functions loaded")

StatementMeta(, dedf02ab-21d2-4384-ab96-67692606400a, 6, Finished, Available, Finished)

âœ“ Helper functions loaded

### Step 1: Validate Excel File

In [5]:
log("Validating Excel file path...")

# Check if file exists
if not os.path.exists(EXCEL_FILE_PATH):
    log(f"ERROR: Excel file not found at {EXCEL_FILE_PATH}", "ERROR")
    log("Please upload your Excel file to Lakehouse -> Files -> excel_files/", "ERROR")
    raise FileNotFoundError(f"File not found: {EXCEL_FILE_PATH}")

log(f"âœ“ Excel file found: {EXCEL_FILE_PATH}")

# Get sheet names
wb = openpyxl.load_workbook(EXCEL_FILE_PATH, read_only=True)
sheet_names = wb.sheetnames
wb.close()

log(f"âœ“ Found {len(sheet_names)} sheets in Excel file")
for i, sheet_name in enumerate(sheet_names, 1):
    log(f"  {i}. {sheet_name}")

print(f"\n{'='*80}")
print(f"Total sheets to process: {len(sheet_names)}")
print(f"{'='*80}")

StatementMeta(, dedf02ab-21d2-4384-ab96-67692606400a, 7, Finished, Available, Finished)

[2026-02-11 12:23:39] INFO: Validating Excel file path...
[2026-02-11 12:23:39] INFO: âœ“ Excel file found: /lakehouse/default/Files/Enterprise_Data_Model.xlsx
[2026-02-11 12:23:40] INFO: âœ“ Found 13 sheets in Excel file
[2026-02-11 12:23:40] INFO:   1. DIM_Date
[2026-02-11 12:23:40] INFO:   2. DIM_Employees
[2026-02-11 12:23:40] INFO:   3. DIM_Products
[2026-02-11 12:23:40] INFO:   4. DIM_Customers
[2026-02-11 12:23:40] INFO:   5. DIM_Suppliers
[2026-02-11 12:23:40] INFO:   6. DIM_Documents
[2026-02-11 12:23:40] INFO:   7. DIM_Accounts
[2026-02-11 12:23:40] INFO:   8. DIM_Business_Lines
[2026-02-11 12:23:40] INFO:   9. FACT_Sales
[2026-02-11 12:23:40] INFO:   10. FACT_Purchases
[2026-02-11 12:23:40] INFO:   11. FACT_Budget
[2026-02-11 12:23:40] INFO:   12. FACT_Inventory
[2026-02-11 12:23:40] INFO:   13. FACT_HR

================================================================================
Total sheets to process: 13
================================================================================

### Step 2: Read and Analyze All Sheets

In [6]:
log("Reading all sheets from Excel file...")

# Dictionary to store all DataFrames
sheets_data = {}
sheets_metadata = {}

for sheet_name in sheet_names:
    try:
        log(f"Reading sheet: {sheet_name}")
        
        # Read Excel sheet into pandas DataFrame
        df_pandas = pd.read_excel(EXCEL_FILE_PATH, sheet_name=sheet_name)
        
        # Store metadata
        sheets_metadata[sheet_name] = {
            "row_count": len(df_pandas),
            "column_count": len(df_pandas.columns),
            "columns": list(df_pandas.columns)
        }
        
        # Convert to Spark DataFrame
        df_spark = infer_spark_schema(df_pandas)
        
        # Clean column names
        df_spark = clean_column_names(df_spark)
        
        # Store in dictionary
        sheets_data[sheet_name] = df_spark
        
        log(f"  âœ“ Loaded {len(df_pandas)} rows, {len(df_pandas.columns)} columns")
        
    except Exception as e:
        log(f"ERROR reading sheet {sheet_name}: {str(e)}", "ERROR")
        continue

print(f"\n{'='*80}")
print(f"Successfully loaded {len(sheets_data)} sheets")

StatementMeta(, dedf02ab-21d2-4384-ab96-67692606400a, 8, Finished, Available, Finished)

[2026-02-11 12:23:40] INFO: Reading all sheets from Excel file...
[2026-02-11 12:23:40] INFO: Reading sheet: DIM_Date
[2026-02-11 12:23:42] INFO:   âœ“ Loaded 1096 rows, 12 columns
[2026-02-11 12:23:42] INFO: Reading sheet: DIM_Employees
[2026-02-11 12:23:42] INFO:   âœ“ Loaded 250 rows, 8 columns
[2026-02-11 12:23:42] INFO: Reading sheet: DIM_Products
[2026-02-11 12:23:42] INFO:   âœ“ Loaded 500 rows, 10 columns
[2026-02-11 12:23:42] INFO: Reading sheet: DIM_Customers
[2026-02-11 12:23:43] INFO:   âœ“ Loaded 1000 rows, 9 columns
[2026-02-11 12:23:43] INFO: Reading sheet: DIM_Suppliers
[2026-02-11 12:23:43] INFO:   âœ“ Loaded 200 rows, 7 columns
[2026-02-11 12:23:43] INFO: Reading sheet: DIM_Documents
[2026-02-11 12:23:43] INFO:   âœ“ Loaded 5000 rows, 5 columns
[2026-02-11 12:23:43] INFO: Reading sheet: DIM_Accounts
[2026-02-11 12:23:43] INFO:   âœ“ Loaded 14 rows, 4 columns
[2026-02-11 12:23:43] INFO: Reading sheet: DIM_Business_Lines
[2026-02-11 12:23:43] INFO:   âœ“ Loaded 6 rows, 4 columns
[2026-02-11 12:23:43] INFO: Reading sheet: FACT_Sales
[2026-02-11 12:23:48] INFO:   âœ“ Loaded 10000 rows, 40 columns
[2026-02-11 12:23:48] INFO: Reading sheet: FACT_Purchases
[2026-02-11 12:23:53] INFO:   âœ“ Loaded 10000 rows, 38 columns
[2026-02-11 12:23:53] INFO: Reading sheet: FACT_Budget
[2026-02-11 12:23:56] INFO:   âœ“ Loaded 10000 rows, 26 columns
[2026-02-11 12:23:56] INFO: Reading sheet: FACT_Inventory
[2026-02-11 12:24:00] INFO:   âœ“ Loaded 10000 rows, 38 columns
[2026-02-11 12:24:00] INFO: Reading sheet: FACT_HR
[2026-02-11 12:24:03] INFO:   âœ“ Loaded 10000 rows, 30 columns

================================================================================
Successfully loaded 13 sheets

### Step 3: Display Sheet Summaries

In [7]:
print("\n" + "="*80)
print("SHEET SUMMARIES")
print("="*80)

for sheet_name, metadata in sheets_metadata.items():
    print(f"\nðŸ“Š Sheet: {sheet_name}")
    print(f"   Rows: {metadata['row_count']:,}")
    print(f"   Columns: {metadata['column_count']}")
    print(f"   Column Names: {', '.join(metadata['columns'][:5])}")
    if metadata['column_count'] > 5:
        print(f"                 ... and {metadata['column_count'] - 5} more columns")
    
    # Show sample data
    if sheet_name in sheets_data:
        print(f"\n   Sample data:")
        sheets_data[sheet_name].show(3, truncate=False)

StatementMeta(, dedf02ab-21d2-4384-ab96-67692606400a, 9, Finished, Available, Finished)

================================================================================
SHEET SUMMARIES
================================================================================

ðŸ“Š Sheet: DIM_Date
   Rows: 1,096
   Columns: 12
   Column Names: Date_ID, Date, Year, Quarter, Month
                 ... and 7 more columns

   Sample data:
+--------+-------------------+----+-------+-----+----------+----+---+-----------+--------+----------+----------+
|Date_ID |Date               |Year|Quarter|Month|Month_Name|Week|Day|Day_of_Week|Day_Name|Is_Weekend|Is_Holiday|
+--------+-------------------+----+-------+-----+----------+----+---+-----------+--------+----------+----------+
|20230101|2023-01-01 00:00:00|2023|1      |1    |January   |52  |1  |7          |Sunday  |1         |0         |
|20230102|2023-01-02 00:00:00|2023|1      |1    |January   |1   |2  |1          |Monday  |0         |0         |
|20230103|2023-01-03 00:00:00|2023|1      |1    |January   |1   |3  |2          |Tuesday |0         |0         |
+--------+-------------------+----+-------+-----+----------+----+---+-----------+--------+----------+----------+
only showing top 3 rows


ðŸ“Š Sheet: DIM_Employees
   Rows: 250
   Columns: 8
   Column Names: Employee_ID, Employee_Name, Department, Position, Location
                 ... and 3 more columns

   Sample data:
+-----------+-------------+----------+--------+---------+-------------------+------+---------+
|Employee_ID|Employee_Name|Department|Position|Location |Hire_Date          |Salary|Is_Active|
+-----------+-------------+----------+--------+---------+-------------------+------+---------+
|EMP00001   |Employee_1   |Marketing |Junior  |Timisoara|2024-01-16 00:00:00|32313 |1        |
|EMP00002   |Employee_2   |Sales     |Junior  |Brasov   |2023-02-27 00:00:00|23660 |1        |
|EMP00003   |Employee_3   |Sales     |Intern  |Bucharest|2023-09-16 00:00:00|44597 |1        |
+-----------+-------------+----------+--------+---------+-------------------+------+---------+
only showing top 3 rows


ðŸ“Š Sheet: DIM_Products
   Rows: 500
   Columns: 10
   Column Names: Product_ID, Product_Name, SKU, Category, Brand
                 ... and 5 more columns

   Sample data:
+----------+------------+------------+----------------+-------+---------+----------+---------+---------+----------+
|Product_ID|Product_Name|SKU         |Category        |Brand  |Unit_Cost|Unit_Price|Weight_KG|Is_Active|Markup_Pct|
+----------+------------+------------+----------------+-------+---------+----------+---------+---------+----------+
|PRD00001  |Product_1   |SKU-00000001|Food & Beverages|Brand_G|424.4    |862.9     |12.03    |1        |103.32    |
|PRD00002  |Product_2   |SKU-00000002|Books           |Brand_C|451.61   |869.95    |25.66    |1        |92.63     |
|PRD00003  |Product_3   |SKU-00000003|Electronics     |Brand_A|439.29   |727.1     |38.7     |1        |65.52     |
+----------+------------+------------+----------------+-------+---------+----------+---------+---------+----------+
only showing top 3 rows


ðŸ“Š Sheet: DIM_Customers
   Rows: 1,000
   Columns: 9
   Column Names: Customer_ID, Customer_Name, Customer_Type, Customer_Segment, City
                 ... and 4 more columns

   Sample data:
+-----------+-------------+-------------+----------------+---------+-------+-------------------+------------+---------+
|Customer_ID|Customer_Name|Customer_Type|Customer_Segment|City     |Country|Registration_Date  |Credit_Limit|Is_Active|
+-----------+-------------+-------------+----------------+---------+-------+-------------------+------------+---------+
|CUST000001 |Customer_1   |Government   |Standard        |Bucharest|Romania|2023-05-19 00:00:00|10000       |1        |
|CUST000002 |Customer_2   |B2C          |Budget          |Constanta|Romania|2023-08-23 00:00:00|25000       |1        |
|CUST000003 |Customer_3   |Reseller     |Premium         |Iasi     |Romania|2023-01-03 00:00:00|10000       |0        |
+-----------+-------------+-------------+----------------+---------+-------+-------------------+------------+---------+
only showing top 3 rows


ðŸ“Š Sheet: DIM_Suppliers
   Rows: 200
   Columns: 7
   Column Names: Supplier_ID, Supplier_Name, Supplier_Type, Country, Payment_Terms
                 ... and 2 more columns

   Sample data:
+-----------+-------------+-------------+-------+-------------+--------------+---------+
|Supplier_ID|Supplier_Name|Supplier_Type|Country|Payment_Terms|Quality_Rating|Is_Active|
+-----------+-------------+-------------+-------+-------------+--------------+---------+
|SUPP00001  |Supplier_1   |Wholesaler   |Germany|Net 90       |1             |1        |
|SUPP00002  |Supplier_2   |Manufacturer |China  |Net 30       |4             |1        |
|SUPP00003  |Supplier_3   |Manufacturer |Romania|Net 60       |5             |1        |
+-----------+-------------+-------------+-------+-------------+--------------+---------+
only showing top 3 rows


ðŸ“Š Sheet: DIM_Documents
   Rows: 5,000
   Columns: 5
   Column Names: Document_ID, Document_Number, Document_Type, Document_Date, Status

   Sample data:
+-----------+---------------+--------------+-------------------+------+
|Document_ID|Document_Number|Document_Type |Document_Date      |Status|
+-----------+---------------+--------------+-------------------+------+
|DOC000001  |INV-000001     |Payroll       |2025-11-08 00:00:00|Posted|
|DOC000002  |INV-000002     |Purchase_Order|2025-03-25 00:00:00|Posted|
|DOC000003  |INV-000003     |Budget_Entry  |2025-03-01 00:00:00|Posted|
+-----------+---------------+--------------+-------------------+------+
only showing top 3 rows


ðŸ“Š Sheet: DIM_Accounts
   Rows: 14
   Columns: 4
   Column Names: Account_ID, Account_Name, Account_Type, Financial_Statement

   Sample data:
+----------+-----------------------+------------------+-------------------+
|Account_ID|Account_Name           |Account_Type      |Financial_Statement|
+----------+-----------------------+------------------+-------------------+
|ACC10001  |Revenue - Product Sales|Revenue           |Income Statement   |
|ACC10002  |Revenue - Service Sales|Revenue           |Income Statement   |
|ACC20001  |COGS - Materials       |Cost of Goods Sold|Income Statement   |
+----------+-----------------------+------------------+-------------------+
only showing top 3 rows


ðŸ“Š Sheet: DIM_Business_Lines
   Rows: 6
   Columns: 4
   Column Names: Business_Line_ID, Business_Line_Name, Region, Status

   Sample data:
+----------------+------------------+--------------+------+
|Business_Line_ID|Business_Line_Name|Region        |Status|
+----------------+------------------+--------------+------+
|BL001           |Retail            |Eastern Europe|Active|
|BL002           |Wholesale         |Eastern Europe|Active|
|BL003           |E-Commerce        |Global        |Active|
+----------------+------------------+--------------+------+
only showing top 3 rows


ðŸ“Š Sheet: FACT_Sales
   Rows: 10,000
   Columns: 40
   Column Names: Sales_ID, Sales_Line_Number, Date_ID, Transaction_DateTime, Document_ID
                 ... and 35 more columns

   Sample data:
+--------+-----------------+--------+--------------------+-----------+----------+-----------+-----------+----------------+----------+------------+--------------+-------------+--------------+--------------+---------------+--------+----------+---------+------------+-------+--------------+-------------------------+------------+------------------+----------+-----------+---------+-------------+-----+------------+---------------+----------+----------+------------+-----------+-------------+-----------------+-------------------+-------------------+
|Sales_ID|Sales_Line_Number|Date_ID |Transaction_DateTime|Document_ID|Product_ID|Customer_ID|Employee_ID|Business_Line_ID|Account_ID|Order_Number|Invoice_Number|Sales_Channel|Payment_Method|Payment_Status|Delivery_Method|Quantity|Unit_Price|Unit_Cost|Discount_Pct|Tax_Pct|Promotion_Code|Customer_Segment_Override|Sales_Region|Warehouse_Location|Created_By|Modified_By|Is_Return|Return_Reason|Notes|Gross_Amount|Discount_Amount|Net_Amount|Tax_Amount|Total_Amount|Cost_Amount|Profit_Amount|Profit_Margin_Pct|Created_Date       |Modified_Date      |
+--------+-----------------+--------+--------------------+-----------+----------+-----------+-----------+----------------+----------+------------+--------------+-------------+--------------+--------------+---------------+--------+----------+---------+------------+-------+--------------+-------------------------+------------+------------------+----------+-----------+---------+-------------+-----+------------+---------------+----------+----------+------------+-----------+-------------+-----------------+-------------------+-------------------+
|1       |1                |20251018|2025-10-18 09:31:00 |DOC002164  |PRD00226  |CUST000090 |EMP00026   |BL006           |ACC10002  |ORD-451300  |INV-780190    |Online       |Bank Transfer |Paid          |Pickup         |33      |44.43     |419.4    |20          |19     |NULL          |NULL                     |East        |WH_Cluj           |EMP00012  |EMP00032   |0        |NULL         |NULL |1466.19     |293.24         |1172.95   |222.86    |1395.81     |13840.2    |-12667.25    |-1079.95         |2025-10-18 00:00:00|2025-10-19 00:00:00|
|2       |7                |20231209|2023-12-09 14:40:00 |DOC003995  |PRD00197  |CUST000168 |EMP00002   |BL001           |ACC10001  |ORD-997464  |INV-441263    |Mobile App   |Bank Transfer |Paid          |Standard       |15      |570.42    |429.81   |10          |19     |NULL          |Corporate                |West        |WH_Timisoara      |EMP00093  |EMP00069   |0        |Defective    |NULL |8556.3      |855.63         |7700.67   |1463.13   |9163.8      |6447.15    |1253.52      |16.28            |2023-12-09 00:00:00|2023-12-10 00:00:00|
|3       |1                |20240904|2024-09-04 12:09:00 |DOC004459  |PRD00155  |CUST000403 |EMP00105   |BL002           |ACC10002  |ORD-425804  |INV-840210    |Online       |Credit Card   |Paid          |Same-Day       |50      |983.83    |453.19   |0           |19     |NULL          |NULL                     |North       |WH_Cluj           |EMP00195  |EMP00132   |0        |NULL         |NULL |49191.5     |0.0            |49191.5   |9346.38   |58537.88    |22659.5    |26532.0      |53.94            |2024-09-04 00:00:00|2024-09-04 00:00:00|
+--------+-----------------+--------+--------------------+-----------+----------+-----------+-----------+----------------+----------+------------+--------------+-------------+--------------+--------------+---------------+--------+----------+---------+------------+-------+--------------+-------------------------+------------+------------------+----------+-----------+---------+-------------+-----+------------+---------------+----------+----------+------------+-----------+-------------+-----------------+-------------------+-------------------+
only showing top 3 rows


ðŸ“Š Sheet: FACT_Purchases
   Rows: 10,000
   Columns: 38
   Column Names: Purchase_ID, Purchase_Line_Number, Date_ID, Transaction_Date, Document_ID
                 ... and 33 more columns

   Sample data:
+-----------+--------------------+--------+-------------------+-----------+----------+-----------+-----------+----------------+----------+---------+-----------------------+-------------+-------------+--------------+---------------+----------------+-----------------+---------+------------+-------+---------------------+---------+--------+-------------+--------------------+---------------+-----------+-----------+-----+----------------------+--------------------+----------+----------+------------+----------------+-----------------+-------------------+
|Purchase_ID|Purchase_Line_Number|Date_ID |Transaction_Date   |Document_ID|Product_ID|Supplier_ID|Employee_ID|Business_Line_ID|Account_ID|PO_Number|Supplier_Invoice_Number|Purchase_Type|Payment_Terms|Payment_Status|Delivery_Status|Quantity_Ordered|Quantity_Received|Unit_Cost|Freight_Cost|Tax_Pct|Warehouse_Destination|Incoterms|Currency|Exchange_Rate|Quality_Check_Status|Defect_Rate_Pct|Approved_By|Received_By|Notes|Expected_Delivery_Date|Actual_Delivery_Date|Net_Amount|Tax_Amount|Total_Amount|Total_Amount_RON|Quantity_Variance|Delivery_Delay_Days|
+-----------+--------------------+--------+-------------------+-----------+----------+-----------+-----------+----------------+----------+---------+-----------------------+-------------+-------------+--------------+---------------+----------------+-----------------+---------+------------+-------+---------------------+---------+--------+-------------+--------------------+---------------+-----------+-----------+-----+----------------------+--------------------+----------+----------+------------+----------------+-----------------+-------------------+
|1          |1                   |20240430|2024-04-30 00:00:00|DOC000476  |PRD00047  |SUPP00192  |EMP00073   |BL006           |ACC20001  |PO-850127|SINV-553867            |Service      |Net 30       |Paid          |Pending        |431             |241              |484.82   |128.08      |19     |WH_Cluj              |FOB      |RON     |1.0149       |Pending             |3.64           |EMP00115   |EMP00177   |NULL |2024-05-26 00:00:00   |2024-05-08 00:00:00 |116841.62 |22199.91  |139169.61   |141243.24       |-190             |-18                |
|2          |6                   |20230913|2023-09-13 00:00:00|DOC001367  |PRD00169  |SUPP00189  |EMP00086   |BL001           |ACC20001  |PO-800021|SINV-183089            |Stock        |Net 30       |Partial       |Delivered      |344             |382              |391.66   |12.04       |19     |WH_Bucharest         |FOB      |RON     |1.0387       |Passed              |4.38           |EMP00158   |EMP00112   |NULL |2023-09-23 00:00:00   |2023-10-30 00:00:00 |149614.12 |28426.68  |178052.84   |184943.48       |38               |37                 |
|3          |12                  |20240624|2024-06-24 00:00:00|DOC001844  |PRD00189  |SUPP00194  |EMP00194   |BL005           |ACC20002  |PO-455582|SINV-239946            |Direct       |Prepaid      |Paid          |Pending        |291             |228              |238.4    |197.38      |19     |WH_Bucharest         |DDP      |EUR     |0.9618       |Passed              |3.54           |EMP00232   |EMP00211   |NULL |2024-07-17 00:00:00   |2024-08-07 00:00:00 |54355.2   |10327.49  |64880.07    |62401.65        |-63              |21                 |
+-----------+--------------------+--------+-------------------+-----------+----------+-----------+-----------+----------------+----------+---------+-----------------------+-------------+-------------+--------------+---------------+----------------+-----------------+---------+------------+-------+---------------------+---------+--------+-------------+--------------------+---------------+-----------+-----------+-----+----------------------+--------------------+----------+----------+------------+----------------+-----------------+-------------------+
only showing top 3 rows


ðŸ“Š Sheet: FACT_Budget
   Rows: 10,000
   Columns: 26
   Column Names: Budget_ID, Date_ID, Budget_Period, Account_ID, Business_Line_ID
                 ... and 21 more columns

   Sample data:
+---------+--------+-------------------+----------+----------------+-----------+--------------+-----------+---------------+-----------+------------+---------------+-------------+----------------+---------------+------------+---------------+-----------+-----+-------------------+-------------------+---------+------------+----------------+---------------+-----------------+
|Budget_ID|Date_ID |Budget_Period      |Account_ID|Business_Line_ID|Employee_ID|Budget_Version|Budget_Type|Budget_Category|Cost_Center|Project_Code|Budgeted_Amount|Actual_Amount|Committed_Amount|Forecast_Amount|Budget_Owner|Approval_Status|Approved_By|Notes|Approval_Date      |Last_Modified_Date |Variance |Variance_Pct|Available_Budget|Utilization_Pct|Forecast_Variance|
+---------+--------+-------------------+----------+----------------+-----------+--------------+-----------+---------------+-----------+------------+---------------+-------------+----------------+---------------+------------+---------------+-----------+-----+-------------------+-------------------+---------+------------+----------------+---------------+-----------------+
|1        |20250413|2025-04-13 00:00:00|ACC10001  |BL004           |EMP00122   |V1_Original   |Quarterly  |OPEX           |CC-3628    |NULL        |20487.65       |19095.36     |60133.98        |47531.26       |EMP00174    |Approved       |EMP00247   |NULL |2025-04-21 00:00:00|2025-04-13 00:00:00|-1392.29 |-6.8        |-39646.33       |93.2           |27043.61         |
|2        |20241105|2024-11-05 00:00:00|ACC20002  |BL002           |EMP00236   |V3_Final      |Quarterly  |OPEX           |CC-2359    |PROJ-002    |47789.44       |32065.86     |22042.78        |86353.31       |EMP00135    |Pending        |EMP00242   |NULL |2024-11-10 00:00:00|2024-11-15 00:00:00|-15723.58|-32.9       |25746.66        |67.1           |38563.87         |
|3        |20230831|2023-08-31 00:00:00|ACC30004  |BL006           |EMP00077   |V3_Final      |Monthly    |Headcount      |CC-8192    |NULL        |13806.44       |14419.12     |4147.2          |84968.73       |EMP00226    |Pending        |EMP00020   |NULL |2023-09-01 00:00:00|2023-09-25 00:00:00|612.68   |4.44        |9659.24         |104.44         |71162.29         |
+---------+--------+-------------------+----------+----------------+-----------+--------------+-----------+---------------+-----------+------------+---------------+-------------+----------------+---------------+------------+---------------+-----------+-----+-------------------+-------------------+---------+------------+----------------+---------------+-----------------+
only showing top 3 rows


ðŸ“Š Sheet: FACT_Inventory
   Rows: 10,000
   Columns: 38
   Column Names: Inventory_ID, Date_ID, Transaction_DateTime, Document_ID, Product_ID
                 ... and 33 more columns

   Sample data:
+------------+--------+--------------------+-----------+----------+-----------+-----------+-----------+----------------+-------------+------------------+------------------+--------------+------------+----------------+--------+---------+---------------+-------------+-------------+--------------+-----------+---------------+---------------+------------+------------+-----------+-----------+-----+-------------------+-------------------+-------------------+--------------+-----------+------------------+-----------------+--------------+----------------+
|Inventory_ID|Date_ID |Transaction_DateTime|Document_ID|Product_ID|Supplier_ID|Customer_ID|Employee_ID|Business_Line_ID|Movement_Type|Transaction_Number|Reference_Document|Warehouse_From|Warehouse_To|Storage_Location|Quantity|Unit_Cost|Quantity_Before|Batch_Number |Serial_Number|Quality_Status|Reason_Code|Shipping_Method|Tracking_Number|Freight_Cost|Processed_By|Approved_By|Is_Verified|Notes|Expiry_Date        |Manufacturing_Date |Verification_Date  |Quantity_After|Total_Value|Stock_Value_Before|Stock_Value_After|Days_To_Expiry|Product_Age_Days|
+------------+--------+--------------------+-----------+----------+-----------+-----------+-----------+----------------+-------------+------------------+------------------+--------------+------------+----------------+--------+---------+---------------+-------------+-------------+--------------+-----------+---------------+---------------+------------+------------+-----------+-----------+-----+-------------------+-------------------+-------------------+--------------+-----------+------------------+-----------------+--------------+----------------+

### Step 4: Create Delta Tables in Lakehouse

In [8]:
log("Creating Delta tables in Lakehouse...")

# Track success/failure
tables_created = []
tables_failed = []

for sheet_name, df_spark in sheets_data.items():
    try:
        table_name = get_table_name(sheet_name)
        log(f"Creating table: {table_name}")
        
        # Write mode
        write_mode = "overwrite" if OVERWRITE_EXISTING else "error"
        
        # Write as Delta table
        df_spark.write \
            .format("delta") \
            .mode(write_mode) \
            .option("overwriteSchema", "true") \
            .saveAsTable(f"dbo.{table_name}")
        
        log(f"  âœ“ Created table: {table_name} with {df_spark.count()} rows")
        tables_created.append(table_name)
        
    except Exception as e:
        log(f"ERROR creating table {table_name}: {str(e)}", "ERROR")
        tables_failed.append(table_name)
        continue

print(f"\n{'='*80}")
print(f"âœ“ Successfully created {len(tables_created)} tables")
if tables_failed:
    print(f"âœ— Failed to create {len(tables_failed)} tables: {', '.join(tables_failed)}")
print(f"{'='*80}")

StatementMeta(, dedf02ab-21d2-4384-ab96-67692606400a, 10, Finished, Available, Finished)

[2026-02-11 12:24:06] INFO: Creating Delta tables in Lakehouse...
[2026-02-11 12:24:06] INFO: Creating table: DIM_Date
[2026-02-11 12:24:24] INFO:   âœ“ Created table: DIM_Date with 1096 rows
[2026-02-11 12:24:24] INFO: Creating table: DIM_Employees
[2026-02-11 12:24:30] INFO:   âœ“ Created table: DIM_Employees with 250 rows
[2026-02-11 12:24:30] INFO: Creating table: DIM_Products
[2026-02-11 12:24:36] INFO:   âœ“ Created table: DIM_Products with 500 rows
[2026-02-11 12:24:36] INFO: Creating table: DIM_Customers
[2026-02-11 12:24:41] INFO:   âœ“ Created table: DIM_Customers with 1000 rows
[2026-02-11 12:24:41] INFO: Creating table: DIM_Suppliers
[2026-02-11 12:24:46] INFO:   âœ“ Created table: DIM_Suppliers with 200 rows
[2026-02-11 12:24:46] INFO: Creating table: DIM_Documents
[2026-02-11 12:24:53] INFO:   âœ“ Created table: DIM_Documents with 5000 rows
[2026-02-11 12:24:53] INFO: Creating table: DIM_Accounts
[2026-02-11 12:24:58] INFO:   âœ“ Created table: DIM_Accounts with 14 rows
[2026-02-11 12:24:58] INFO: Creating table: DIM_Business_Lines
[2026-02-11 12:25:03] INFO:   âœ“ Created table: DIM_Business_Lines with 6 rows
[2026-02-11 12:25:03] INFO: Creating table: FACT_Sales
[2026-02-11 12:25:08] INFO:   âœ“ Created table: FACT_Sales with 10000 rows
[2026-02-11 12:25:08] INFO: Creating table: FACT_Purchases
[2026-02-11 12:25:13] INFO:   âœ“ Created table: FACT_Purchases with 10000 rows
[2026-02-11 12:25:13] INFO: Creating table: FACT_Budget
[2026-02-11 12:25:20] INFO:   âœ“ Created table: FACT_Budget with 10000 rows
[2026-02-11 12:25:20] INFO: Creating table: FACT_Inventory
[2026-02-11 12:25:25] INFO:   âœ“ Created table: FACT_Inventory with 10000 rows
[2026-02-11 12:25:25] INFO: Creating table: FACT_HR
[2026-02-11 12:25:30] INFO:   âœ“ Created table: FACT_HR with 10000 rows

================================================================================
âœ“ Successfully created 13 tables
================================================================================

### Step 5: Verify Tables

In [9]:
log("Verifying created tables...")

print("\n" + "="*80)
print("TABLE VERIFICATION")
print("="*80)

for table_name in tables_created:
    try:
        # Read table
        df = spark.read.table(f"dbo.{table_name}")
        row_count = df.count()
        col_count = len(df.columns)
        
        print(f"\nâœ“ Table: {table_name}")
        print(f"  Rows: {row_count:,}")
        print(f"  Columns: {col_count}")
        print(f"  Schema: {', '.join([f'{field.name}' for field in df.schema.fields[:5]])}")
        if col_count > 5:
            print(f"          ... and {col_count - 5} more columns")
        
    except Exception as e:
        log(f"ERROR verifying table {table_name}: {str(e)}", "ERROR")

StatementMeta(, dedf02ab-21d2-4384-ab96-67692606400a, 11, Finished, Available, Finished)

[2026-02-11 12:25:32] INFO: Verifying created tables...

================================================================================
TABLE VERIFICATION
================================================================================

âœ“ Table: DIM_Date
  Rows: 1,096
  Columns: 12
  Schema: Date_ID, Date, Year, Quarter, Month
          ... and 7 more columns

âœ“ Table: DIM_Employees
  Rows: 250
  Columns: 8
  Schema: Employee_ID, Employee_Name, Department, Position, Location
          ... and 3 more columns

âœ“ Table: DIM_Products
  Rows: 500
  Columns: 10
  Schema: Product_ID, Product_Name, SKU, Category, Brand
          ... and 5 more columns

âœ“ Table: DIM_Customers
  Rows: 1,000
  Columns: 9
  Schema: Customer_ID, Customer_Name, Customer_Type, Customer_Segment, City
          ... and 4 more columns

âœ“ Table: DIM_Suppliers
  Rows: 200
  Columns: 7
  Schema: Supplier_ID, Supplier_Name, Supplier_Type, Country, Payment_Terms
          ... and 2 more columns

âœ“ Table: DIM_Documents
  Rows: 5,000
  Columns: 5
  Schema: Document_ID, Document_Number, Document_Type, Document_Date, Status

âœ“ Table: DIM_Accounts
  Rows: 14
  Columns: 4
  Schema: Account_ID, Account_Name, Account_Type, Financial_Statement

âœ“ Table: DIM_Business_Lines
  Rows: 6
  Columns: 4
  Schema: Business_Line_ID, Business_Line_Name, Region, Status

âœ“ Table: FACT_Sales
  Rows: 10,000
  Columns: 40
  Schema: Sales_ID, Sales_Line_Number, Date_ID, Transaction_DateTime, Document_ID
          ... and 35 more columns

âœ“ Table: FACT_Purchases
  Rows: 10,000
  Columns: 38
  Schema: Purchase_ID, Purchase_Line_Number, Date_ID, Transaction_Date, Document_ID
          ... and 33 more columns

âœ“ Table: FACT_Budget
  Rows: 10,000
  Columns: 26
  Schema: Budget_ID, Date_ID, Budget_Period, Account_ID, Business_Line_ID
          ... and 21 more columns

âœ“ Table: FACT_Inventory
  Rows: 10,000
  Columns: 38
  Schema: Inventory_ID, Date_ID, Transaction_DateTime, Document_ID, Product_ID
          ... and 33 more columns

âœ“ Table: FACT_HR
  Rows: 10,000
  Columns: 30
  Schema: HR_ID, Date_ID, Transaction_Date, Employee_ID, Business_Line_ID
          ... and 25 more columns

### Step 6: Query Sample Data from Each Table

In [10]:
# TEST Query: Dimension tables
print("\n" + "="*80)
print("SAMPLE QUERIES - DIMENSION TABLES")
print("="*80)

# DIM_Date
print("\nðŸ“… DIM_Date - First 5 records:")
spark.sql(f"SELECT * FROM dbo.DIM_Date LIMIT 5").show(truncate=False)

# DIM_Employees
print("\nðŸ‘¥ DIM_Employees - Active employees:")
spark.sql(f"SELECT * FROM dbo.DIM_Employees WHERE Is_Active = 1 LIMIT 5").show(truncate=False)

# DIM_Products
print("\nðŸ“¦ DIM_Products - Active products:")
spark.sql(f"SELECT Product_ID, Product_Name, Category, Brand, Unit_Price FROM dbo.DIM_Products WHERE Is_Active = 1 LIMIT 5").show(truncate=False)

StatementMeta(, dedf02ab-21d2-4384-ab96-67692606400a, 12, Finished, Available, Finished)

================================================================================
SAMPLE QUERIES - DIMENSION TABLES
================================================================================

ðŸ“… DIM_Date - First 5 records:
+--------+-------------------+----+-------+-----+----------+----+---+-----------+--------+----------+----------+
|Date_ID |Date               |Year|Quarter|Month|Month_Name|Week|Day|Day_of_Week|Day_Name|Is_Weekend|Is_Holiday|
+--------+-------------------+----+-------+-----+----------+----+---+-----------+--------+----------+----------+
|20230518|2023-05-18 00:00:00|2023|2      |5    |May       |20  |18 |4          |Thursday|0         |0         |
|20230519|2023-05-19 00:00:00|2023|2      |5    |May       |20  |19 |5          |Friday  |0         |0         |
|20230520|2023-05-20 00:00:00|2023|2      |5    |May       |20  |20 |6          |Saturday|1         |1         |
|20230521|2023-05-21 00:00:00|2023|2      |5    |May       |20  |21 |7          |Sunday  |1         |0         |
|20230522|2023-05-22 00:00:00|2023|2      |5    |May       |21  |22 |1          |Monday  |0         |0         |
+--------+-------------------+----+-------+-----+----------+----+---+-----------+--------+----------+----------+


ðŸ‘¥ DIM_Employees - Active employees:
+-----------+-------------+----------------+---------+-----------+-------------------+------+---------+
|Employee_ID|Employee_Name|Department      |Position |Location   |Hire_Date          |Salary|Is_Active|
+-----------+-------------+----------------+---------+-----------+-------------------+------+---------+
|EMP00094   |Employee_94  |Customer Service|Mid-Level|Cluj-Napoca|2024-06-09 00:00:00|31561 |1        |
|EMP00095   |Employee_95  |IT              |Intern   |Timisoara  |2023-03-14 00:00:00|39613 |1        |
|EMP00096   |Employee_96  |Finance         |Mid-Level|Timisoara  |2024-02-03 00:00:00|47150 |1        |
|EMP00097   |Employee_97  |Finance         |Mid-Level|Cluj-Napoca|2024-02-09 00:00:00|36943 |1        |
|EMP00098   |Employee_98  |Sales           |Manager  |Cluj-Napoca|2024-11-05 00:00:00|34120 |1        |
+-----------+-------------+----------------+---------+-----------+-------------------+------+---------+


ðŸ“¦ DIM_Products - Active products:
+----------+------------+---------------+-------+----------+
|Product_ID|Product_Name|Category       |Brand  |Unit_Price|
+----------+------------+---------------+-------+----------+
|PRD00313  |Product_313 |Sports         |Brand_A|630.06    |
|PRD00317  |Product_317 |Electronics    |Brand_F|996.43    |
|PRD00318  |Product_318 |Health & Beauty|Brand_B|798.05    |
|PRD00319  |Product_319 |Health & Beauty|Brand_B|756.2     |
|PRD00321  |Product_321 |Toys           |Brand_B|342.65    |
+----------+------------+---------------+-------+----------+

In [11]:
# TEST Query: Query Fact tables
print("\n" + "="*80)
print("SAMPLE QUERIES - FACT TABLES")
print("="*80)

# FACT_Sales summary
print("\nðŸ’° FACT_Sales - Summary by Date:")
spark.sql(f"""
SELECT 
    Date_ID,
    COUNT(*) as Transaction_Count,
    SUM(Total_Amount) as Total_Sales,
    SUM(Profit_Amount) as Total_Profit
FROM dbo.FACT_Sales
GROUP BY Date_ID
ORDER BY Date_ID DESC
LIMIT 10
""").show()

# FACT_Inventory current stock
print("\nðŸ“Š FACT_Inventory - Recent movements:")
spark.sql(f"""
SELECT 
    Product_ID,
    Movement_Type,
    SUM(Quantity) as Total_Quantity,
    COUNT(*) as Movement_Count
FROM dbo.FACT_Inventory
GROUP BY Product_ID, Movement_Type
LIMIT 10
""").show()

StatementMeta(, dedf02ab-21d2-4384-ab96-67692606400a, 13, Finished, Available, Finished)

================================================================================
SAMPLE QUERIES - FACT TABLES
================================================================================

ðŸ’° FACT_Sales - Summary by Date:
+--------+-----------------+------------------+------------------+
| Date_ID|Transaction_Count|       Total_Sales|      Total_Profit|
+--------+-----------------+------------------+------------------+
|20251231|               11|216353.77000000002|          120229.9|
|20251230|               10|         240776.36|          65668.31|
|20251229|               10|         244537.43|          85173.33|
|20251228|                7|         197632.99| 68406.20999999999|
|20251227|               15|         280735.59|          68479.15|
|20251226|                8|180345.36000000002|           34400.7|
|20251225|                8|         171460.88| 41234.78999999999|
|20251224|                9|         204925.49|          72603.61|
|20251223|               11|         290280.84| 90924.03999999998|
|20251222|               13|376684.01999999996|100193.61000000002|
+--------+-----------------+------------------+------------------+


ðŸ“Š FACT_Inventory - Recent movements:
+----------+-------------+--------------+--------------+
|Product_ID|Movement_Type|Total_Quantity|Movement_Count|
+----------+-------------+--------------+--------------+
|  PRD00089|           IN|           714|            10|
|  PRD00150|          OUT|           140|             4|
|  PRD00021|          OUT|           355|             9|
|  PRD00465|          OUT|           458|             9|
|  PRD00103|           IN|           135|             5|
|  PRD00286|          OUT|           -53|             5|
|  PRD00193|          OUT|           500|             7|
|  PRD00089|          OUT|           354|             7|
|  PRD00166|          OUT|           497|            12|
|  PRD00414|   ADJUSTMENT|            47|             1|
+----------+-------------+--------------+--------------+